* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-main);
    background: var(--color-light);
    color: var(--color-text);
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

html {
    scroll-behavior: smooth;
}

.section-title {
    text-align: center;

    font-size: 2.5rem;

    margin-bottom: 2rem;

    color: var(--color-dark);
}

@media (max-width: 768px) {

    .section-title {
        font-size: 2rem;
    }

}